form(method = "POST" action = "/new")
  div
    label(for="messageinput") message:
        input(type="text",name="messageinput")
    label(for="userinput") user:
        input(type="text",name="userinput")
    button(type="submit") Submit