body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
.message {
  background-color: #00b7ff;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin: 0.25rem;
}
li {
  list-style: none;
}
